.App { 
  top: 0px;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(168, 38, 38);
  color: white;
}

.home{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(13, 12, 54);
  flex-grow: 1;
  height: 100vh;
  gap: 2rem;

}
.chart{display: flex; flex-direction: column; justify-content: space-around; align-items: center;  background-color: #0a0c11; height: 100vh;}
.cdata{min-width: 90%;  }
.csv-tag{
  text-decoration: none;
  color: #36363682;
}.csv-tag{
  text-decoration: none;
  color: #000;
}
.chart-top{display: flex; flex-direction: column; justify-content: flex-start; align-items: end; width: 90vw; gap: 1rem;}
a{ text-decoration: none; }